[defaults]
# 1. On pointe vers ton inventaire
inventory = inventory.ini

# 2. On tue les Warnings (le message Python 3.7)
deprecation_warnings = False
command_warnings = False

# 3. On évite la question "Are you sure you want to continue connecting?"
host_key_checking = False

# 4. On accélère la découverte de l'interpréteur
interpreter_python = auto_silent

[ssh_connection]
# 5. LE SECRET DE LA VITESSE : Le Pipelining et le ControlPersist
# Au lieu d'ouvrir 50 sessions, il en ouvre UNE seule et la garde ouverte 10 min.
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
pipelining = True
